// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
$v-layout-margin-top: 12px;
$v-layout-margin-right: 12px;
$v-layout-margin-bottom: 12px;
$v-layout-margin-left: 12px;

@import "../valo/valo.scss";

@mixin mnemoviewer {
  @include valo;

  .v-app, .v-app-loading {
    font: 300 16px/1.55 sans-serif !important;;
  }

  .v-button-borderless:focus:after,
  .v-button-borderless-colored:focus:after {
    box-shadow: none;
  }

  .alert-view-btn .v-button-caption {
    display: block;
    top: -7px;
    right: -7px;
    z-index: 1;

    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
    line-height: 1;
    padding: 4px 6px;
    min-width: 11px;
    text-align: center;
    border-radius: 4px;
    background: #E11919 -webkit-linear-gradient(top, #E31B1B 2%, #D51616 98%);
    color: white;
    position: absolute;
    font-size: 14px;
    pointer-events: none;
  }
  .alert-view-btn .v-icon {
    font-size: 20pt;
  }

  .alert-view-window .v-table {
    background: white;
  }
  .alert-view-window .v-table-table {
    box-shadow: none;
  }
  .alert-view-window .v-label-h3 {
    padding: 12px;
  }
  .alert-view-window .v-table-cell-wrapper {
    padding: 0 0 0 10px;
  }
}
